
# dropping IDE data's
.vscode
.idea

.DS_Store

# dropping some kubernetes metadata .kube
.kube

# dropping vendor and other data directories
vendor/

# dropping local built binaries
helm-drift
helm-drift_*

# dropping the templates
templates-latest/

/dist

# dropping all test results
cover.out
cover.html

# dropping all local builds generated for testing
bin/